
.box-header {
  width: 100vh;
  height: 8vh;
  background-color: grey;
  text-align: center;
  padding: 40px;
}

.containerMain{
  display: flex;
  width: 100vh;
  height: 500px;
  background-color: bisque;
}
.container1_2 {
  width: 70vh;
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.container2 {
display: flex;
justify-content: space-around;
}

.box {
  background-color: burlywood;
  width: 450px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container3 {
display: flex;
justify-content: center;
padding: 30px;
}

.box3 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 70px;
  background-color: burlywood;
  margin: 30px;

}

.box1 {
  display: flex;
  align-items: center;
}

.container4 {
  background-color: rgb(165, 198, 187);
  text-align: center;
  padding: 40px;
  width: 30vh;
}

.box_footer {
  display: flex;
  width: 100vh;
  background-color: gray;
  height: 100px;
  justify-content: space-between;
}
.section-footer {
  width: 300px;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding-top: 20px;
  font-size: larger;
}